:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.stepsWrapper {
  display: flex;
  background: #000000;
  flex-direction: column;
  height: 100vh;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  .stepContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    &.active .no {
      color: #ffffff;
    }

    .no {
      font-size: 10rem;
      font-weight: 700;
      font-family: "DM Sans", sans-serif;
    }

    &.active .body {
      border-left: 4px solid #3F8EF7;
    }

    .body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-left: 4px solid #191919;
      max-width: 40vw;
      gap: 1rem;
      padding: 0 1rem 0 4rem;
      margin-left: 5rem;

      .title {
        font-size: 3rem;
        font-weight: 700;
        text-align: left;
        color: #FFFFFF;
      }

      .content {
        font-size: 1.1rem;
        font-weight: 500;
        text-align: left;
        color: #7B7B7B;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html{
    font-size: 5px;
  }
  .stepsWrapper{
    .stepContentWrapper{
      &.active       
      .title{
        font-size: 4rem;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  html{
    font-size: 5px;
  }
  .stepsWrapper{
    .stepContentWrapper{
      flex-direction: column;
      &.active .body {
        border-top: 4px solid #3F8EF7;
        border-left: none;
      }
      .body{
        padding: 4rem 0 1rem 0;
        border-top: 4px solid #191919;
        border-left: none;
      }
    }
  }
}

@media screen and (min-width: 1023px) and (max-width: 1366px) {
  html{
    font-size: 10px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1536px) {
  html{
    font-size: 12px;
  }
}

@media screen and (min-width: 1536px) and  (max-width: 1920px){
  html{
    font-size: 13px;
  }
}

@media screen and (min-width: 1920px) and  (max-width: 2048px){
  html{
    font-size: 16px;
  }
}

@media screen and (min-width: 2048px){
  html{
    font-size: 20px;
  }
}
